 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
  }
body{
  background-color: #FFEDE0;
}

.navbar{
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 50px;
  background-color: #FFEDE0; 
  padding: 10px 30px;
  justify-content: space-between;
}

.navbar ul{
  display: flex;
    align-items: center;
    flex-direction: row;
    gap: 150px;
    text-decoration: none;
    list-style-type: none;
   
  }


.icono-navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.navbar a{
color: #403833;
}

 /* hero */
.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start; 
  padding: 30px;
  gap: 80px;
}

.hero1{
  display: flex;
  flex-direction: column;
   align-items: center;
  justify-content: center; 
  gap: 50px;
}

.hero2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.hero2 img{
  width: 400px;
  height: 400px;
}

.hero3 {
  display: flex;
  flex-direction: column;
}


.hero4 img{
  width: 700px;
  height: 330px;
}

.button{
  border-radius: 25px;
  padding: 10px 15px; 
  background: rgb(244,244,244);
  background: linear-gradient(90deg, rgba(244,244,244,1) 0%, rgba(244,244,244,1) 72%);
  font-family: 'Epilogue', sans-serif;
  font-size: 25px;
  -webkit-box-shadow: 7px 6px 0px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 6px 0px 0px rgba(0,0,0,0.75);
  box-shadow: 7px 6px 0px 0px rgba(0,0,0,0.75);
  border: 2px solid rgba(0,0,0,0.75);   
}

.button a{
  color: #403833; 
}


 /* menu */
.menu{
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: start;
  padding: 30px;
  gap: 15%;
}


.menus1{
  display: flex;
  flex-direction: row; 
}
 .menus1 img{
  width: 180px;
  height: 180px;
 }

.menu-menu {
  width: 29%;
  height: 50%; 
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex; 
  padding-top: 31px;
  padding-bottom: 31px; 
  padding-left: 21px;    
  align-items: center; 

}

.menu-item {
  display: flex;
  gap: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-menu h1{
  font-size: 70px;
  font-family: Epilogue;
  font-weight: 550;
  word-wrap: break-word;
  color: white;
  background: rgb(64,56,51);
  background: linear-gradient(90deg, rgba(64,56,51,1) 0%, rgba(64,56,51,1) 0%);
  padding: 15px 120px; 
}

.item-text {
 font-size: 45px;
 font-family: Epilogue;
 font-weight: 0;
 word-wrap: break-word;
 color: #403833; 
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 100px;
}

.menu-item ol{
  display: flex;
  gap: 10px;
  flex-direction: column;
}  


/* about */

.about{
  display: flex;
  padding: 100px;
  flex-direction: row;
  gap: 250px;
}

.about-texto{
  display: flex;
  align-items: start; 
  flex-direction: column;
  gap: 45px;
}

.button2{
  border-radius: 25px;
  padding: 5px 50px; 
  background: rgb(244,244,244);
  background: linear-gradient(90deg, rgba(244,244,244,1) 0%, rgba(244,244,244,1) 72%);
  font-family: 'Epilogue', sans-serif;
  font-size: 20px;
  -webkit-box-shadow: 7px 6px 0px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 6px 0px 0px rgba(0,0,0,0.75);
  box-shadow: 7px 6px 0px 0px rgba(0,0,0,0.75);
  border: 2px solid rgba(0,0,0,0.75);    
 

}

.button2 a{
  color: #403833; 
}

.about-img img{
  width: 250px;
  height: 400px;
}

.about-img{
  display: flex;
  flex-direction: row;
  gap: 25%;
}



/* contacto */
.from-texto{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-comentario{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 80px;
  gap: 150px;
  align-items: stretch;
}

.comentario{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 25px;
  border-radius: 20px;
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px; 
}

.img-comentario{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.foto{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}




/* contact */


.container-contactos{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 300px;
  padding: 100px;
}

.contact-texto{
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 25px;
}



 /* footer */

.footer-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 170px;
  margin: 50px;
  
}   

.footer-caja{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}


.footer-icono{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.footer{
  display: flex;
  justify-content: center;
 align-items: center;
  flex-direction: column;
  gap: 10px;
}

.inst-face{
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}




.footer-texto{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  
}


 /* section comida */
.contenedor{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 20%;
}

.caja-container-menu{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 31px;
  padding-bottom: 31px; 
  padding-left: 21px;     
  align-items: center; 
  gap: 20px;
  
}

.texto{
  font-size: 55px;
  font-family: Epilogue;
  font-weight: 100;
  word-wrap: break-word;
  color: white;
  background: rgb(64,56,51);
  background: linear-gradient(90deg, rgba(64,56,51,1) 0%, rgba(64,56,51,1) 0%);
  padding: 5px 80px;
  
}

.caja ol{
  display: flex;
  gap: 25px;
  flex-direction: column;
}

.text-item{
  font-size: 32px;
  font-family: Epilogue;
  font-weight: 300;
  word-wrap: break-word;
  color: black;
  display: flex;
  justify-content: start;
  align-items: start;
} 



/* menu comida */
.menu-container{
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
}

.container-1{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 18px;
}

.caja-comida{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  border: 1px solid #000;
  padding: 15px;
}

.texto-comida{
display: flex;
flex-direction: row;
align-items: center;
gap: 30px;
}

.comida-precio{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.comida-text{
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}

.button3{
  border-radius: 0;
  border: none;
  padding: 5px 50px; 
  background: rgb(64,56,51);
  background: linear-gradient(90deg, rgba(64,56,51,1) 0%, rgba(64,56,51,1) 0%);
  font-family: 'Epilogue', sans-serif;
  font-size: 20px;
  color: #FFEDE0;
  
}


@media only screen and (max-width: 768px) {

.navbar ul{
  gap: 50px;
}

.hero{
    gap: 30px;
 }

.hero{
  gap: 30px;
}

.hero img{
  width: 240px;
  height: 450px;
}

.hero1{
  gap: 45px;
}

.hero1 img{
  width: 230px;
  height: 180px;
}

.hero2{
  gap: 20px;
}

.hero3{
  gap: 5px;
}

.hero3 p{
  font-size: 10px;
}

.hero4 img{
  height: 220px;
  width: 420px;
}

.button{
  border-radius: 25px;
  padding: 5px 2px;
  height: 50px;
  width: 170px;
}

.menu{
  gap: 10%;
  padding: 30px;
}


.menus1 img{
  object-fit: cover;
  width: 115px;
  height: 115px;
} 

.item-text{
  font-size: 26px;
}

.about{
  gap: 50px;
  padding: 50px;
}


.about-img img{
 width: 140px;
 height: 330px;
gap: 0;
}

.about-img{
  gap: 2rem;
}

.button2{
  border-radius: 25px;
  padding: 10px 50px; 
}

.about-texto h1{
  display: flex;
  align-items: center;
  justify-content: start;
  
}

.from{
  margin: 30px;
}
.container-comentario{
  max-width: 100%;
 display: flex;
 gap: 2%;
 padding: 20px;
}

.container-contactos{
  display: flex;
  gap: 5%;
  padding: 5%;
}

.container-contactos img{
  width: 400px;
}


.footer-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4%;
}


.contenedor{
  display: flex;
  gap: 5%;
}

.menu-container{
  display: flex;
  gap: 3%;
}


.menu h1{
  font-size: 40px;
  font-family: Epilogue;
  font-weight: 550;
  word-wrap: break-word;
  color: white;
  background: rgb(64,56,51);
  background: linear-gradient(90deg, rgba(64,56,51,1) 0%, rgba(64,56,51,1) 0%);
  padding: 10px 100px;
  }



}


/* Estilos para pantallas con un ancho máximo de 480px (dispositivos móviles) */
@media only screen and (max-width: 420px) {

.navbar{
  display: flex;
  justify-content: space-between;
   align-items: start;
  flex-direction: row;
  gap: 0px;
  max-width: 100%;
  padding: 20px;
}
 

.icono-navbar img{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0px;
  width: 18px;
  height: 18px;
}

.navbar ul{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.navbar h1{
  font-size: 15px;
  font-family: Epilogue;
  font-weight: 550;
}

.icono-navbar{
  gap: 0;
}


  .hero{
    display: flex;
    gap: 15px;
    padding: 10px;
    justify-content: center;
    align-items: center;
  }

  .hero img {
    width: 100px;
    height: 200px;
  }

  .hero2 img{
    display: none;
  }

  .hero3{
    display: flex;
    gap: 0;
    font-size: 15px;
  }


  .hero4 img{
  display: flex;
  width: 150px;
  height: 85px;
  }
 
  .button{
    border-radius: 25px;
    height: 25px;
    width: 130px;
    font-size: 13px;
  }
 

.menus1{
  display: none;
}



.menu{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  gap: 0;
}

.menu-menu h1{
  font-size: 30px;
  font-family: Epilogue;
  font-weight: 550;
  word-wrap: break-word;
  color: white;
  background: rgb(64,56,51);
  background: linear-gradient(90deg, rgba(64,56,51,1) 0%, rgba(64,56,51,1) 0%);
  padding: 10px 60px;
}

.item-text{
  font-size: 20px;
}



.about{
  padding: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
}

 .about-texto {
  display: flex;
  gap: 30px;

} 

.about img{
 display: none;
}

.button2{
  border-radius: 25px;
  padding: 3px 15px;
  font-size: 15px;
}

 .about-texto h1{
   display: flex;
   align-items: center;
   justify-content: start;
   font-size: 40px;
 }

.from{
  margin: 30px;
}


.comentario{
  max-width: 100%;
 display: flex;
 gap: 3%;
 padding: 50px;
}

.comentario{
  display: flex;
  gap: 15px;
  font-size: 11px;
  border: 2px solid black;
  border-radius: 20px;
  padding: 8px; 
  align-items: center;
  justify-content: center;
}

.comentario{ 
    border-radius: 20px;
    padding: 5px;
}


.img-comentario img{
  width: 15px;
  height: 15px;
}

.foto img{
  width: 25px;
  height: 25px;
}



.container-contactos{
  display: flex;
  gap: 0px;
  padding: 0px;
  align-items: center;
  justify-content: center;
}

.contact-texto{
  font-size: 10px;
  display: flex;
  gap: 15px;
}

.container-contactos img{
  display: none;
}

.contact-texto{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



.footer-container{
  max-width: 100%;
  display: flex;
  gap: 20px;
  font-size: 10px;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.footer span{
  display: none;
}


.footer-icono img{
  width: 25px;
  height: 25px;
}


.footer-texto{
gap: 8px;
display: flex;
align-items: start;
justify-content: center;
flex-direction: column;
}


.footer h4{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}



.text-item{
  font-size: 12px;
}





.caja ol{
  flex-direction: row;
  gap: 10px;
  padding: 20px;
}



.caja-comida{
  gap: 0;
  display: flex;
  padding: 10px;
}

.texto{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: Epilogue;
  font-weight: 550;
  word-wrap: break-word;
  color: white;
  background: rgb(64,56,51);
  background: linear-gradient(90deg, rgba(64,56,51,1) 0%, rgba(64,56,51,1) 0%);
  padding: 10px 80px;
  }


.comida-text{
  font-size: 13px;
}

.button3{
  padding: 5px 10px; 
  font-size: 10px;
  color: #FFEDE0;
  
}

.caja-comida{
  display: flex;
  gap: 18px;
}

.contenedor{
  display: flex;
  gap: 0px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.texto-comida{
  gap: 5px;
}

.menu-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}






}